FRONTEND_URL=http://localhost:5173

# Auth
JWT_SECRET=
JWT_EXPIRATION_TIME=1800
AUTH= # OPÇÕES: SIGAA OU TEST

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Database SIGAA
DB_HOST_SIGAA=
DB_PORT_SIGAA=
DB_NAME_SIGAA=
DB_USERNAME_SIGAA=
DB_PASSWORD_SIGAA=